@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0; 
  font-family: 'Poppins', sans-serif;
  --dark:#051C1D;
  --darkprimary:#32FBFF;
  --secondary:#FAFFFF;
  --primary:#168789;
  --sub:#636363;
  --titulos:#0B0B0B;
}

body {
  background-color: var(--dark);
  color: var(--secondary); 
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

:root{
  scroll-behavior: smooth;
}

a {
  color:white;
  text-decoration: none;
}

a:hover {
  color: var(--primary); 
}

.medium{
  width:280px;
  height:280px;
}

.hamburger{
  display:none;
}

.xclose{
  display:none;
}

.header{
  margin-top:1%;
  margin-right:2%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 1px 2px rgba(235, 235, 235, 0.15);
  gap:2%;
  width:100%;
}

.logo-name{
  display:flex;
  flex-direction: row;
  align-items: center;
  width:60%;
  margin-left: 3%;
}

.navbar{
  margin-top:1%;
  margin-right:2%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap:1%;
  width:70%;
  /*agregue width del navbar para ver si se corregia lo de la foto del fondo*/
}

.logo{
  margin-right: 30%;
  margin-left:1%;
  display:flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary);
  width:35%;
}

.logo:hover{
  color:var(--primary);
}

.index{
  background-image: linear-gradient(to top, rgb(207, 217, 223, 0.200) 0%, rgba(226, 235, 240, 0.200) 100%), url(../img/index.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 45vw;
  display:flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  /*justify-content: center; */
}

.celular{
  width: 33%;
  transform: perspective(400px) rotateY( -20deg) rotateZ(10deg);  
  margin-left:25%;
}

.titulo-index{
  font-style: normal;
  font-size: 70px;
  opacity:1;
  margin-left:7%;
  width:100%;
}

.subtitulo-index{
  font-size:35px;
  opacity:1;
  margin-left:7%;
  width:100%;
}

.contact-button{
  background-image: none;
  background-color: var(--primary);
  color:var(--secondary);
  border-radius: 25px;
  border:var(--primary);
  cursor:pointer;
  padding:2%;
  font-size:20px;
  width:40%;
  text-align:center;
  margin-top:15%;
  margin-left:8%;
}

.contact-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(214, 201, 201, 0.2);
}

#nosotros, #trazabilidad{
  margin-left:3%;
  margin-right:3%;
}

.h2-nosotros, .h2-trazabilidad{
  font-size:45px;
  margin-top:7%;
}

.h2-trazabilidad::after{
  content:"";
  position:absolute;
  width:5%;
  border:1px solid var(--darkprimary);
  margin-left:2%;
  margin-top:2.5%;
}

.h3-nosotros{
  margin-top:3%;
  font-size: 30px;
  font-style:normal;
}

.linea-azul{
  width:5%;
  border:1px solid var(--darkprimary)
}

.nosotros-container{
  display:flex;
  flex-direction: row;
  margin-top:1%;
  align-items: center;
  justify-content: center; 
}

.nosotros-texto1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nosotros-p{
  font-size: 20px;
  margin: 2% 8%;
  text-align: justify;
}

.nosotros-p2{
  font-size: 20px;
  margin-left:1%;
  margin-right:5%;
  text-align: justify;
}

.nosotrosimg{
  border-radius: 80px 0;
  box-shadow: 0px -5px 10px rgba(235, 235, 235, 0.25), 0px 5px 25px rgba(235, 235, 235, 0.5);
  margin-left:5%;
}

.empresaimg{
  border-radius: 80px 0;
  box-shadow: 0px -5px 10px rgba(235, 235, 235, 0.25), 0px 5px 25px rgba(235, 235, 235, 0.5);
}

.alianzas-contenedor{
  display:flex;
  flex-direction: column;
}

.alianza{
  margin-left:2%;
}

.alianzas-img{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin:3%;
}

.h3-trazabilidad, .h3-trazabilidad2{
  font-size: 30px;
  font-style: normal;
}

.h3-trazabilidad2{
  margin-top:10%;
}

.h3-trazabilidad2::after{
  content:"";
  position:absolute;
  width:5%;
  border:1px solid var(--darkprimary);
  margin-left:2%;
  margin-top:1.5%;
}

.container-servicio{
  margin-top:3%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.container-servicio2{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.item-servicio{
  width:25%;
  margin-left:5%;
}

.trazabilidad-p{
  font-size: 20px;
  margin-top:2%;
  margin-right:12%;
  text-align: justify;
}

.remeraimg{
    border-radius: 80px 0;
    box-shadow: 0px -5px 10px rgba(235, 235, 235, 0.25), 0px 5px 25px rgba(235, 235, 235, 0.5);
}


/* .trazabilidad-titulo{
  display:flex;
  flex-direction: row;
} */

.container-contacto{
  margin-left:1%;
  padding:5%;
}

.titulo-contacto{
  font-size:45px;
  text-align: left;
  margin-left:3%;
}

.texto-contacto{
  margin-left:3%;
}

.contacto-p{
  display:flex;
  align-items: center;
  font-size: 20px;
}

.icon-contacto{
  padding:1%;
  color:var(--darkprimary);
}


footer{
  display:flex;
  text-decoration: none;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
  background-color: var(--secondary);
  color:black;
  padding:1%;
  margin-top:10%;
}

.texto-footer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top:1%;
  margin-left:8%;
  width:50%;
}

.footer-p{
  display: flex;
  align-items: center;
  padding:1%;
  margin-top:1%;
}

.logo-footer{
  width: 110px;
  margin-right:9%;
  color:black;
}

.icon{
  padding:1%;
}

  @media(max-width: 768px){

    .hamburger{
      width:7%;
      position:fixed;
      cursor:pointer;
      border-radius: 10px;
      box-shadow: 0 0 6px rgba(0, 0, 0, .5);
      background-color: var(--primary);
      display:inline-block;
      color:white;
      z-index:20;
      margin-left:50%;
    }

    .navbar{
      position:fixed;
      right:0;
      width:50%;
      height: 100%;
      top:0%;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0 0 6px rgba(0, 0, 0, .5);
      background-color: var(--primary);
      transform: translate(110%);
      transition: transform .3s ease-in-out;
      z-index:20;
    }

    .xclose{
      width:7%;
      margin-left:45%;
      position:fixed;
      cursor:pointer;
      border-radius: 10px;
      box-shadow: 0 0 6px rgba(0, 0, 0, .5);
      background-color: var(--primary);
      display:inline-block;
      color:white;
    }

    .spread{
      transform: translate(0);
    }

    .navbar a{
      text-decoration:none;
    }

    .navbar a:hover{
      color:white;
    }
}

    @media(max-width: 480px){
    
    .logo-name{
      margin:0;
      margin-right:25%;
    }

    .logo{
      width:60%;
    }

    .hamburger{
      margin-left:80%;
    }

    .xclose{
      margin:0;
      margin-left:60%;
      margin-bottom:220%;
      width:15%;
      position:fixed;
      cursor:pointer;
      border-radius: 10px;
      box-shadow: 0 0 6px rgba(0, 0, 0, .5);
      background-color: var(--primary);
      color:white;
    }

    .celular{
      display:none;
    }

    .index{
      height:80vw;
      background-image: url(../img/index.png);
      
    }

    .texto-index{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top:15%;
    }

    .titulo-index{
      font-size: 2rem;
      text-align: left;
      margin-left:10%;
    }

    .subtitulo-index{
      font-size:1.5rem;
      text-align: left;
      margin-left:10%;
    }

    .contact-button{
      margin:0;
      margin-top:9%;
      font-size:15px;
      width: 50%;
    }

    #nosotros, #trazabilidad{
      margin-left:1%;
      margin-right:1%;
    }

    .nosotros-container{
      display:column;
      flex-wrap:wrap;
      margin:2%;
      text-align: center;
      align-items: center;
    }

    .h2-nosotros, .h2-trazabilidad{
      font-size:1.8rem;
      margin:0;
      margin-top:7%;
      text-align: center;
      padding:3%;
    }

    .nosotros-p, .nosotros-p2, .trazabilidad-p{
      margin:0;
      margin: 3%;
      text-align: center;
      font-size: 1rem;
    }

    .medium{
      margin: 2% 0;
    }

    .remeraimg{
      margin-top:10%;
    }

    .empresa-responsive{
      flex-direction: column-reverse;
    }

    .h3-nosotros, .h3-trazabilidad, .h3-trazabilidad2{
      font-size: 20px;
      text-align: center;
    }

    .h2-trazabilidad::after{
      display:none;
    }

    .h3-trazabilidad2::after{
      display:none;
    }

    .alianzas-contenedor{
      align-items: center;
    }

    .alianzas-img{
      width:400px;
    }

    .container-servicio{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .item-servicio{
      width:70%;
    }

    .container-servicio2{
      flex-direction: column-reverse;
    }

    footer{
      margin-top: 20%;
    }

    footer a{
      color:black;
      text-decoration: black;
    }

    .footer-p{
      font-size: 0.8rem;
    }

    .container-contacto{
      display:flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
    }

    .texto-contacto{
      font-size:0.4rem;
    }

    .titulo-contacto{
      font-size: 1.5rem;
      margin: 5% 1%;
    }

    .texto-footer{
      width: 80%;
      font-size: 15px;
    }

      .logo-footer{
        display:none;
      }
    }

